@font-face {
  font-family: "ClearSans-Bold";
  src: url("./assets/fonts/ClearSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "ClearSans-Regular";
  src: url("./assets/fonts/ClearSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ClearSans-Medium";
  src: url("./assets/fonts/ClearSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "ClearSans-Light";
  src: url("./assets/fonts/ClearSans-Light.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "ClearSans-Light", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "ClearSans-Light", sans-serif;
}
